/.idea
croped.png
rotated.png
temp_watermark.png
__pycache__/watermarker.cpython-312.pyc
croped.png
rotated.png
temp_watermark.png
__pycache__/options_ui.cpython-312.pyc
croped.png
pexels-uriel-venegas-176524868-15321479_SampleText.png
rotated.png
